/build/
/out/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

*.exe
*.obj
*.o
*.a
*.lib
*.dll
*.so
*.dylib

.vscode/

Thumbs.db
.DS_Store

/data/*
*.ply
*.pcd
*.obj
*.stl

__pycache__/
*.pyc
*.pyd
*.pyo
.venv/
env/