# 1. Foldery budowania (CMake)
/build/
/out/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# 2. Skompilowane pliki wykonywalne i biblioteki 
*.exe
*.obj
*.o
*.a
*.lib
*.dll
*.so
*.dylib

# 3. Ciężkie dane (Chmury punktów)
data/*
!data/.gitkeep

# Dodatkowe zabezpieczenie: ignorujemy rozszerzenia plików 3D wszędzie
*.ply
*.pcd
*.xyz
*.pts

# 4. Pliki systemowe i konfiguracyjne edytorów
.vscode/
.DS_Store
Thumbs.db